<footer class="bg-light section pb-0 mt-lg-5">
  <div class="container">
   <div class="row">
    <div class="col-lg-4 col-md-6 mb-5">
      <div class="row justify-content-start">
        <div class="col-md-10 col-sm-6">
          <a class="d-block h3 mb-3" href="{{ site.BaseURL | absLangURL}}">
            {{ with site.Params.logo}}
             <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}">
            {{ else }}{{site.Title}}{{end}}
          </a>
       </div>
      <div class="col-md-4 col-sm-6">
        {{ if site.Menus.footer_left }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_left }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_left }}
          <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-6 col-sm-6">
        {{ if site.Menus.footer_middle }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_middle }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_middle }}
          <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-10 col-sm-6 mt-4">
        {{ with site.Params.social }}
        <ul class="list-inline social-icons">
          {{ range . }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}" title="{{ .title }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
  {{ with site.Params.footer_dots}}<div class="dots d-none d-lg-block"><img class="img-fluid" src="{{ .image | relURL }}" alt="dots"></div>
  {{end}}
      <div class="col-lg-7 shadow mb-4 mb-lg-0 p-md-5 py-5 order-sm-1 bg-white">
        <div class="row">
          <div class="col-lg-3 col-sm-10">
            <h2>Contact Us</h2>
          </div> 
          <div class="col-lg-9 col-sm-10">
        <form id="contact" action="{{ site.Params.contact_form_action | safeURL }}" method="POST" class="mx-2">
          <input type="text" class="form-control mb-4" id="name" name="name" placeholder="{{ i18n `yourname` }}">
          <input type="email" class="form-control mb-4" id="mail" name="mail" placeholder="{{ i18n `youremail` }}">
          <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="{{ i18n `subject` }}">
          <textarea name="message" id="message" class="form-control mb-4" placeholder="{{ i18n `yourmessage` }}"></textarea>
          <button type="submit" value="send" class="btn btn-primary mt-3">{{ i18n `sendnow` }}</button>
        </form>
      </div>
      </div>
      </div>
    </div>
    
    </div>
    <div class="border-top border-default text-center py-4 mt-4">
      <small class="content">{{ site.Params.Copyright | markdownify }}</small>
    </div>
  </div>
</footer>